@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 28% 29%;
    --background-hover: 206 28% 43%;
    --foreground: 0 0% 100%;

    --arbo: 149 78% 11%;
<<<<<<< HEAD
    --arbo-hover: 149 78% 25%;

    --sc2: 240 100% 27%;
    --sc2-hover: 240 100% 41%;
=======
    --sc2: 240 100% 27%;
>>>>>>> 993827b (Changed some tailwind var cause arbo and sc2 were not working)

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 100%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    font-size: 2rem;
  }

  h2{
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}

@layer utilities {

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> c08bad2 (Added in conditional styling to the header)
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

<<<<<<< HEAD
<<<<<<< HEAD
=======
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

    .animate-expandDownwards {
      animation: expandDownwards 0.4s forwards
    }
    
    .animate-collapseUpwards {
      animation: collapseUpwards 0.4s forwards
    }
>>>>>>> 7850d4b (Updated nav menu to be fulls creen and expand downrads without zoom)
=======
  .animate-expandDownwards {
    animation: expandDownwards 0.4s forwards
  }

  .animate-collapseUpwards {
    animation: collapseUpwards 0.4s forwards
  }

>>>>>>> c08bad2 (Added in conditional styling to the header)
=======
>>>>>>> 19e7c4d (Made some small changes to improv how it all looks)
}

.mapboxgl-popup-content {
  padding: 0 !important;
}
