.homepage-tile {
    border: 1px solid;
    justify-content: flex-start;
    border-radius: 10px;
}

.homepage-tile-button {
    background-color: none;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 4px;
    margin-top: 8px
}

.homepage-tile-text-container {
    background-color: powderblue;
    width: 40%;
    border-radius: 10px;
    padding: 8px;
    margin-left: 12px;
}

.homepage-tile-header {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 8px;
}

.homepage-tile-button:hover {
    background-color: rgba(255,255,255,0.3);
}