.homepage {
    height: 100%
}

.homepage-heading-container {
    margin-bottom: 12px;
    margin-top: 10%
}

.homepage-heading-text {
    font-weight: bold;
    font-size: 50px;
    margin-top: 10px,
}

.homepage-tiles-container {
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}